# Dependencies (covers both frontend and server)
node_modules/
*/node_modules/
**/node_modules/** 
# Server-specific
/server/public/uploads/** 
# Build outputs
dist/
build/

# Environment
.env
.env.*
!.env.example

# IDE & OS
.vscode/
.DS_Store

# BASH 
secret.sh

/server/logs/SecurityLog.txt 